{% extends 'MarekArticlesBundle::layout.html.twig' %}
{% block body %}
    {% set currentFilters = { } %}

    <a class="btn btn-success" href="{{ path('marek_article_add') }}">
        <span class="glyphicon glyphicon-plus-sign"></span>
        {{ 'Dodaj artykuł' }}
    </a>

    <h2>{{ 'Artykuły' }}</h2>

    <table class="table table-hover">
        <thead>
        <th style="width: 50%">{{ 'Nazwa' }}</th>
        <th style="width: 20%">{{ 'Data dodania' }}</th>
        <th style="width: 10%">{{ 'Aktywny' }}</th>
        <th style="width: 20%" class="text-right">{{ 'Akcje' }}</th>
        </thead>
        <tbody>
        {% for article in articles %}
            {# KEEP TRACK OF ITEM'S INDEX to check if we can move #}
            {% set itemNo = loop.index+(pagination.currentPage-1)*pagination.limit %}
            <tr>
                <td>
                    <a href="{{ path('marek_article_preview',{'id':article.id}) }}">{{ article.name }}</a>
                    <small class="text-muted">[{{ article.id }}]</small>
                </td>
                <td>{{ article.createdOn|date("d/m/Y") }}</td>
                <td>
                    {% if article.active %}
                        <a href="#" class="switch-active btn btn-success btn-xs" data-id="{{ article.id }}">tak</a>
                    {% else %}
                        <a href="#" class="switch-active btn btn-default btn-xs" data-id="{{ article.id }}">nie</a>
                    {% endif %}
                </td>
                <td class="text-right">
                    <a class="btn btn-primary btn-xs" href="{{ path('marek_article_edit',{'id':article.id}) }}">
                        <span class="glyphicon glyphicon-pencil"></span>
                        {{ 'edytuj' }}
                    </a>
                    <a class="btn btn-danger btn-xs" href="{{ path('marek_article_delete',{'id':article.id}|merge({page: pagination.currentPage})) }}" class="text-danger">
                        <span class="glyphicon glyphicon-remove-circle"></span>
                        {{ 'usuń' }}
                    </a>
                    {% spaceless %}
                        {% if itemNo > 1 %}
                            <a href="{{ path('marek_article_move',{'id':article.id, 'direction':'up'}|merge({page: pagination.currentPage})) }}">
                                <span class="glyphicon glyphicon-chevron-up"></span>
                            </a>
                        {% else %}
                                <span class="glyphicon glyphicon-chevron-up text-muted"></span>
                        {% endif %}
                        {% if itemNo < pagination.total %}
                            <a href="{{ path('marek_article_move',{'id':article.id, 'direction':'down'}|merge({page: pagination.currentPage})) }}">
                                <span class="glyphicon glyphicon-chevron-down"></span>
                            </a>
                        {% else %}
                                <span class="glyphicon glyphicon-chevron-down text-muted"></span>
                        {% endif %}
                    {% endspaceless %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% include 'MarekArticlesBundle:Articles:_pagination.html.twig' with {'pagination': pagination} %}
    <script>
        $(document).ready(function(jQuery){
            var $ = jQuery;

            $('a.switch-active').click(function(){
                var $btn = $(this);
                $btn.html('ajax...');
                var artId = $btn.attr('data-id');
                var request = $.ajax({
                    url: "{{ path('marek_article_switch_active')|escape }}",
                    type: "POST",
                    data: { id : artId },
                    dataType: "json"
                });

                request.done(function( msg ) {
                    if (msg.hasOwnProperty('active') && msg.active) {
                        $btn.removeClass('btn-default');
                        $btn.addClass('btn-success');
                        $btn.html('tak');
                    } else {
                        $btn.addClass('btn-default');
                        $btn.removeClass('btn-success');
                        $btn.html('nie');
                    }
                });

                request.fail(function( jqXHR, textStatus ) {
                    alert( "Request failed: " + textStatus );
                });
            });
        })
    </script>
{% endblock %}